# Dataset files/folders
fruits-360-original-size.zip
fruits-360-original-size/
o-vs-r-split/

# Model files
*.keras
O_R_tlearn_vgg16.keras
O_R_tlearn_fine_tune_vgg16.keras

# Python/Jupyter
__pycache__/
.ipynb_checkpoints/
*.pyc